%load_ext autoreload
%autoreload 2
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import torch
from torch import nn
from torch.nn import functional as F
import dlnlputils
from dlnlputils.data import tokenize_corpus, build_vocabulary,
texts_to_token_ids, \
PaddedSequenceDataset, Embeddings
from dlnlputils.pipeline import train_eval_loop, predict_with_model,
init_random_seed
from dlnlputils.visualization import plot_vectors
init_random_seed()

